.exemplo__imagem {
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    max-width: 100%;
}

#joshua5minutosfimcontagem {
    display: none;
}

.comandos {
    margin-top: 10px;
    background-color: var(--cinza-escuro);
    border-radius: 10px;
    padding: 10px;
}

.comandos h4 {
    color: #2272d4;
}

.comandos__exemplos {
    text-align: justify;
    max-height: 0;
    transition: max-height 1s ease-out;
    overflow: hidden;
}

.comandos:hover {
    cursor: context-menu;
}

.comandos:hover .comandos__exemplos {
    max-height: 500px;
    transition: max-height 1.7s ease-in;
}

#aqui {
    color: var(--azul-claro);
}

@media screen and (min-width: 768px) {

    #joshua5minutosfimcontagemmobile {
        display: none;
    }

    #joshua5minutosfimcontagem {
        display: inline;
    }
}