.footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #dddddd;
    justify-content: center;
}

.footer__titulo {
    font-size: 1rem;
    color: var(--azul-escuro);
}

.footer__contato {
    text-align: center;
}

.footer__contato-desktop {
    display: none;
}

.footer__link {
    display: inline-block;
    padding: 1.4rem 1.2rem;
    margin: 0;
}

.footer__link:hover {
    background-color: whitesmoke;
}

#icone-whatsapp {
    color: #25D366;
}

#icone-email {
    color: rgb(71, 71, 71);
}

#icone-github {
    color: #24292e;
}

#icone-linkedin {
    color:#0077b5
}

@media screen and (min-width: 1024px) {
    
    .footer {
        justify-content: space-around;
    }

    .footer__contato {
        display: none;
    }

    .footer__contato-desktop {
        text-align: left;
        display: block;
    }

    .footer__link {
        color: var(--azul-escuro);
    }

    .footer__link:hover {
        color: var(--azul-claro);
    }

    .footer__link i {
        margin-right: 10px;
    }

}