.cabecalho {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid #dddddd;
}

.cabecalho__nome {
    margin-bottom: 1rem;
    color: var(--azul-escuro);
    display: block;
}

.cabecalho__nome {
    font-size: 1.9rem;
    font-weight: bold;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link{
    font-size: 1.1rem;

    display: inline-block;
    margin-top: .5rem;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    color: var(--azul-escuro);
}

.cabecalho__link:hover {
    color: var(--azul-claro);
}

.cabecalho__link-contato {
    display: none;
    background-color: var(--azul-claro);
    color: white;
    padding: .75em;
    border-radius: 5px;
}

.cabecalho__link-contato:hover {
    background-color: var(--azul-escuro);
    color: white;
}

@media screen and (min-width: 1024px) {

    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
    }

    .cabecalho__link-contato {
        display: inline-block;
    }
}