*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header da página */

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2%;
    display: flex;
}

header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

.name {
    color: #0042a3;
}

.name h1 {
    font-size: 30px;
}

.menu-mobile a,
.menu-mobile-menor a {
    display: none;
}

.menu {
    width: 84%;
    text-align: center;
}

.menu a {
    color: #0042a3;
    font-size: 15px;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 4px;
}

.menu a:hover {
    background-color: whitesmoke;
    padding: 30px 25px;
    color: #2272d4;
}

.menu .botao-contato {
    background-color: #2272d4;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
}

.menu .botao-contato:hover {
    background-color: #0042a3;
    color: white;
    padding: 10px 20px;
}


/* Conteudo da página */

#conteudo {
    text-align: center;
    margin: 0 auto;
    width: 700px;
    position: relative;
    max-width: 650px;
    font-size: 16px;
    line-height: 1.5;
}

.minhafoto {
    border-radius: 150px;
    max-width: 150px;
}

#meunome {
    font-size: 35px;
    margin-top: 10px;
    color: #0042a3;
}

#palavrasrelacionadas {
    font-size: 20px;
    color: rgb(136, 136, 136);
}

#sobremim {
    margin-top: 15px;
    font-size: 30px;
}

.sobremim {
    margin-top: 15px;
    text-align: justify;
    border-radius: 10px;
}

/* Responsivo */
@media screen and (max-width: 1046px) {
    .menu {
        display: none;
    }

    .menu-mobile {
        width: 84%;
        text-align: center;
    }

    .menu-mobile a {
        display: inline-block;
        color: #0042a3;
        font-size: 15px;
        text-decoration: none;
        padding: 20px 25px;
        border-radius: 4px;
    }
    
    .menu-mobile a:hover {
        background-color: whitesmoke;
        padding: 30px 25px;
        color: #2272d4;
    }

    .menu-mobile .botao-contato {
        background-color: #2272d4;
        color: white;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 4px;
    }
    
    .menu-mobile .botao-contato:hover {
        background-color: #0042a3;
        color: white;
        padding: 10px 20px;
    }

    #conteudo {
        max-width: 500px;
    }
}

/* Responsivo para telas de celular */
@media screen and (max-width: 600px) {

    .center {
        max-width: 400px;
    }

    .menu,
    .menu-mobile {
        display: none;
    }

    .menu-mobile-menor {
        width: 80%;
        text-align: center;
    }

    .menu-mobile-menor a {
        display: inline-block;
        color: #0042a3;
        font-size: 14px;
        text-decoration: none;
        padding: 30px 25px;
        border-radius: 4px;
    }
    
    .menu-mobile-menor a:hover {
        background-color: whitesmoke;
        padding: 30px 25px;
        color: #2272d4;
    }

    .menu-mobile-menor .botao-contato {
        background-color: #2272d4;
        color: white;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 4px;
    }
    
    .menu-mobile-menor .botao-contato:hover {
        background-color: #0042a3;
        color: white;
        padding: 10px 20px;
    }

    .name h1 {
        margin-top: 25%;
        margin-left: 20px;
        font-size: 35px;
    }

    #conteudo {
        text-align: center;
        max-width: 400px;
    }
}