<nav class="border-bottom header text-center">
  <div class="container">

    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 p-2">
        <a class="h2 text-secondary font-weight-bold" [routerLink]="['/sobre']">Igor Bonfim</a>
      </div>

      <div class="col-lg-9 row align-items-center ">

        <a class="p-4 text-secondary aba-header col-lg-2" [routerLink]="['/sobre']" routerLinkActive="ativo">Sobre</a>
        <a class="p-4 text-secondary aba-header col-lg-2" [routerLink]="['/projetos']" routerLinkActive="ativo">Projetos</a>
        <a class="p-4 text-secondary aba-header col-lg-2" href="https://github.com/IgormBonfim" target="_blank">Github</a>
        <a class="p-4 text-secondary aba-header col-lg-2" href="https://www.linkedin.com/in/igormbonfim/" target="_blank">LinkedIn</a>
        <a class="p-4 text-secondary aba-header col-lg-2" href="https://drive.google.com/file/d/1GdTGCpJioXr4pe-mFZXX8p7JPCKIjUyQ/view" target="_blank">Currículo</a>
        <a class="btn btn-primary col-lg-2" href="mailto:igormeirabonfim@gmail.com">Contato</a>
      </div>
    </div>
  </div>
</nav>
