<nav class="border-bottom header">
  <div class="container d-flex flex-wrap align-items-center justify-content-between">
    <a class="h2 text-secondary font-weight-bold" [routerLink]="['/home']">Igor Bonfim</a>
    <a class="p-4 text-secondary aba-header" [routerLink]="['/sobre']" routerLinkActive="ativo">Sobre</a>
    <a class="p-4 text-secondary aba-header" [routerLink]="['/projetos']" routerLinkActive="ativo">Projetos</a>
    <a class="p-4 text-secondary aba-header" href="https://github.com/IgormBonfim" target="_blank">Github</a>
    <a class="p-4 text-secondary aba-header" href="https://www.linkedin.com/in/igormbonfim/" target="_blank">LinkedIn</a>
    <a class="p-4 text-secondary aba-header" href="https://drive.google.com/file/d/1GdTGCpJioXr4pe-mFZXX8p7JPCKIjUyQ/view" target="_blank">Currículo</a>
    <a class="btn btn-primary" href="mailto:igormeirabonfim@gmail.com">Entre em Contato</a>
  </div>
</nav>
