<app-titulo-paginas
  [imagemLink]="pessoa.imagem"
  [titulo]="pessoa.nomeCompleto"
  subtitulo="Desenvolvedor Full stack"
></app-titulo-paginas>

<div class="container d-flex justify-content-center">
  <div style="max-width: 600px;">

    <h2 class="font-weight-bold text-primary">Sobre mim</h2>
    <p class="text-justify">
      Meu nome é {{ pessoa.nomeCompleto }}, tenho {{ pessoa.idade }} anos, sou formado em engenharia mecânica.
      Atualmente estou me especializando em Arquitetura de Software através da PUC Minas.
    </p>

    <h2 class="font-weight-bold text-primary">Resumo</h2>
    <p class="text-justify">
      Desenvolvedor Full-Stack experiente com conhecimentos em arquitetura de software e apaixonado por desafios complexos.
      Possuo experiência no desenvolvimento de API's utilizando C# e .Net, Docker, Design Orientado a Domínio (DDD), Clean Architecture e Microsserviços, AWS, Design Orientado a Domínio (DDD) e Arquitetura Hexagonal.
      Além disso, também possuo experiência no desenvolvimento de interfaces visuais utilizando TypeScript, JavaScript e Angular.
    </p>

    <h2 class="font-weight-bold text-primary">Conhecimentos</h2>
    <div>
      <img class="pr-3 pb-3" alt="Dotnet" src="https://img.shields.io/badge/.NET-512bd4?style=for-the-badge&logo=dotnet&logoColor=white">
      <img class="pr-3 pb-3" alt="Angular" src="https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white">
      <img class="pr-3 pb-3" alt="MySQL" src="https://img.shields.io/badge/MySQL-00000F?style=for-the-badge&logo=mysql&logoColor=white">
      <img class="pr-3 pb-3" alt="MySQL" src="https://img.shields.io/badge/Oracle-f80000?style=for-the-badge&logo=oracle&logoColor=white">
      <img class="pr-3 pb-3" alt="MySQL" src="https://img.shields.io/badge/Mongodb-3fa037?style=for-the-badge&logo=mongodb&logoColor=white">
      <img class="pr-3 pb-3" alt="TypeScript" src="https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white">
      <img class="pr-3 pb-3" alt="C#" src="https://img.shields.io/badge/CSharp-189f20?style=for-the-badge&logo=csharp&logoColor=white">
      <img class="pr-3 pb-3" alt="Docker" src="https://img.shields.io/badge/Docker-1d63ed?style=for-the-badge&logo=docker&logoColor=white">
    </div>

    <h2 class="font-weight-bold text-primary">Experiências</h2>
    <div *ngFor="let experiencia of experiencias">
      <app-experiencia [experiencia]="experiencia"></app-experiencia>
    </div>

  </div>
</div>
